{% extends "base.html.twig" %}

{% block title %}Movies Page
{% endblock %}

{% block body %}
	<h1>TEST</h1>
	<div class="test">2nd css file testing</div>
	<img class="testPhoto" src="{{ asset('build/images/image1.af97074f.jpg') }}" alt="">
{% endblock %}
